.productPage{
  text-align: center;
   margin-top: 18%;
}
.admin{
    margin-top: 14%;
  
   
}
.adminImage img{
    width: 10%;
}
.userDIV{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 1%;
}
.loading{
    margin-top: 25%;
}
.checkout{
    width: 50%;
    margin-left: 35%;
   

}

.valid{
    padding-top: 10%;
    background-color: #212529;
    color: white;
    width: 100%;
    margin: auto;
   
}
.checkout input{
    transition: 700ms;
    display: flex;
    width: 60%;
    text-align: center;
    margin-top: 1%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.checkout input:hover{
   transform: scale(1.1);
}
.checkout button{
    width: 20%;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
}
#PaymentForm{
    margin-top: 15%;
    text-align: center;
}

.usersdetail{
    border: 1px solid #212529;
}
.cartdiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 18%;
    gap: 5%;
}
.cartDIV{
    margin-bottom: 1%;
}
.cartIMG{
    width: 20%;
}
button{
    transition: 400ms;
}
button:hover{
    transform: scale(1.1);
}
.productPage img{
    width: 30%;
}
.text{
   
    text-decoration: none;
    color: black;
}
.adminhead{
    background-color: #212529;
    color: white;
    
}
.heading{
    color: gray;
   font-style: italic;
   margin-top: 15%;
   text-decoration: underline;
}
.nav1{
    margin-left: 55%;
}

img{
    width: 60%;
    cursor: pointer;
    transition: 650ms;
}
img:hover{
    transform: scale(.9);
}
.row{
    gap: 20px;
   margin-top: 2%;
}
li{
    transition: 400ms;
}
li:hover{
    transform: scale(1.1);
}
.product_img img{
    width: 60%;
}
.product_img{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 110px;
    
}

.product_div{
    cursor: grabbing;
}
.price{
    text-decoration: line-through;
    color: red;
}
.price1{
    color: green;
}
span{
    font-weight: bold;
    font-size: small;
}
.product_div h5{
    color: rgb(97, 96, 96);
    font-weight: 700;
    font-style: italic;
    margin-top: 1%;
    
}
.product_div img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formDiv{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   padding: 1%;
    width: 50%;
    margin: auto;
    margin-top: 15%;
    color:  white;
    background-color:#212529
}
@media (max-width: 500px) {
    .product_img{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
  }
  @media (min-width: 500px) and (max-width: 940px) {
    .product_img{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
  }  